<p>更新日志 - 2016.1.19
<p>
<p>1.将部分js和css进行了压缩,减少了单次页面加载的流量。</p>
<p>2.修复了单表多次新增失败，以及删除失败的bug</p>

<hr>

<p>更新日志 - 2016.1.14
<p>
<p>
	1.优化了skylineSerivce的实现.<br> a.增加了断线重连机制，重连间隔为2秒<br> b.增加了Async后缀的方法，返回为promise，优化编程体验,建议以后均采用此类方法。
</p>
<p>
	2.增加了tip服务,提供success,info,warning,error四个方法，用于在右上角提示相关信息。<br> 每个方法均有两个参数,参数1表示提示框的title,参数2为提示内容
</p>

<hr>

<p>更新日志 - 2016.1.9
<p>
<p>1.数据库的初始语句存放在doc/skyline.sql中,可以同步到各自的本地mysql库中</p>
<p>2.lib目录下有更新新的jar包，请及时更新</p>
<p>
	3.系统管理的功能初步实现,可以通用用户-角色-左树 的方式来控制不同用户访问左树菜单的权限。<br> 配置方法在系统管理->角色维护->权限维护中
</p>
