<div class="col-lg-12 col-sm-12 col-xs-12"
	ng-controller="listCheckLogViewCtrl"
	style="padding-left: 0px; padding-right: 0px;">
	<div class="widget flat radius-bordered">
		<div class="widget-header bordered-bottom bordered-sky">
			<span class="widget-caption">日志详情查看</span>
		</div>
		<div class="widget-body grid-example">
			<div class="row">
				<div class="col-sm-2">
					<span>日志ID:</span>
				</div>
				<div class="col-sm-8">
					<span>&nbsp; {{obj.id}} </span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10">
					<span class="bordered-sky widget-caption radius-bordered">日志详情:</span>
				</div>
				</div><div class = "row">
				<div class="col-sm-10">
					<span>&nbsp; {{obj.text}} </span>
				</div>
			</div>
			<div align="center" valign="middle">
				<button id="no" class="btn btn-primary shiny" type="button"
					ng-click="gotoback()">
					<i class="fa fa-sign-out"></i> 返回
				</button>
			</div>
		</div>
	</div>
</div>
